* {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherent;
}
#header {
  width: 100%;
  height: 40px;
  background-color: #ffbf2a;
  color: #ffffff;
}
#title {
  height: 30px;
  float: left;
  margin-left: 45%;
}
#title h1 {
  font-family: ariel, sans-serif;
  font-size: 1.4 em;
  padding-bottom: 5px;
  color: #ffffff;
}
#loginLinks {
  height: 30px;
  float: right;
}
#footer {
  color: #ffffff;
  background-color: #000000;
  min-height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.sidebar {
  color: #ffffff;
  width: 200px;
  position: absolute;
  left: 0;
  background-color: #80797b;
  height: 95%;
  top: 30;
}
.content {
  color: #000000;
  position: absolute;
  top: 30;
  right: 0;
  float: left;
  width: 70%;
  min-width: 50%;
  padding-top: 10px;
  background-color: #ffffff;
  height: 95%;
}
#preview {
  border: solid 1px;
  width: 65.68181818181819%;
  height: 85%;
  -webkit-box-shadow: 5px 5px 0px 0px #000000;
  box-shadow: 5px 5px 0px 0px #000000;
  margin-left: 10%;
}
#log-in-form {
  position: fixed;
  z-index: 100;
  width: 30%;
  height: 100px;
  background-color: #403d3d;
  color: #ffffff;
  left: 35%;
  top: 30%;
  padding: 20px;
}
button {
  color: #000000;
  cursor: pointer;
  border: solid 2px;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: arial, sans-serif;
  background-color: #b2adaf;
  margin: 5px 10px;
  left: 10px;
  font-size: 1.1em;
  height: 30px;
  width: 90%;
}
#newBtn {
  background-color: #ffbf2a;
  color: #000000;
  position: absolute;
  bottom: 40px;
  left: 0;
}
#mobileSelection {
  width: 100%;
  padding: 10px;
}
